




<!-- 
        =============================================
                Short Banner
        ============================================== 
-->
<div class="short-banner se-p-bg-color m-bottom0">
    <div class="container">

        <h4 class="float-left">No dude en ponerse en contacto con nosotros para cualquier tipo de desarrollo de software</h4><br>
        <a href="contact-us.html" class="button-four float-right">Contactenos</a>

    </div> <!-- /.container -->
</div> <!-- /.short-banner -->


<!-- 
=============================================
        SEO company Goal
============================================== 
-->
<section class="company-goal">
    <div class="container">
        <h2 class="text-center">Number <span class="se-s-color">#1 SEO</span> service company <br>Over 10 years with proud!!</h2>
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="single-goal text-center hvr-float-shadow wow fadeInUp">
                    <div class="img-icon round-border"><img src="images/icon/2.png" alt="Icon" class="round-border"></div>
                    <h5>Search Optimization</h5>
                    <p>There are many variations Duis mass lacus suad id. sodales scelerisque have suffered alter ation in some form seeker</p>
                </div> <!-- /.single-goal -->
            </div> <!-- /.col- -->
            <div class="col-md-4 col-xs-12">
                <div class="single-goal text-center hvr-float-shadow wow fadeInUp" data-wow-delay="0.1s">
                    <div class="img-icon round-border"><img src="images/icon/3.png" alt="Icon" class="round-border"></div>
                    <h5>High-End Anaylizing</h5>
                    <p>There are many variations Duis mass lacus suad id. sodales scelerisque have suffered alter ation in some form seeker</p>
                </div> <!-- /.single-goal -->
            </div> <!-- /.col- -->
            <div class="col-md-4 col-xs-12">
                <div class="single-goal text-center hvr-float-shadow wow fadeInUp" data-wow-delay="0.2s">
                    <div class="img-icon round-border"><img src="images/icon/4.png" alt="Icon" class="round-border"></div>
                    <h5>Great Security</h5>
                    <p>There are many variations Duis mass lacus suad id. sodales scelerisque have suffered alter ation in some form seeker</p>
                </div> <!-- /.single-goal -->
            </div> <!-- /.col- -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section> <!-- /.company-goal -->



<!-- 
=============================================
        Welocome To SEO 
============================================== 
-->
<div class="welcome-seo">
    <div class="container">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-6 col-md-7 col-xs-12 text wow fadeInRight float-right">
                    <h2>Welcome to ollo <br>SEO &amp;  Digital Marketing Co </h2>
                    <span>Here will some subtite with lorem ipsum dosis alter seeker</span>
                    <p>I have always wanted to have a neighbor just like you. I've always wanted to live in a neighborhood with you. Makin their way the only way they know how. That's just a little bit more than the law will allow. </p>

                    <ul class="clearfix">
                        <li>
                            <i class="icon flaticon-money"></i>
                            <h6>Affordable Service</h6>
                            <p>Allervices in affordable price</p>
                        </li>
                        <li>
                            <i class="icon flaticon-home"></i>
                            <h6>Best Company</h6>
                            <p>We are the best company in Bd</p>
                        </li>
                        <li>
                            <i class="icon flaticon-star"></i>
                            <h6>Expert Advisor</h6>
                            <p>We have top rated expert</p>
                        </li>
                        <li>
                            <i class="icon flaticon-bookmark"></i>
                            <h6>Trusted Certified</h6>
                            <p>Certified by digital marketing </p>
                        </li>
                    </ul>
                </div> <!-- /.col- -->
                <div class="col-lg-6 col-md-5 col-xs-12"><img src="images/home/object2.png" alt="Image"></div>
            </div> <!-- /.row -->
        </div> <!-- /.wrapper -->
    </div> <!-- /.container -->
</div> <!-- /.welcome-seo -->



<!-- 
=============================================
        Our Service
============================================== 
-->
<div class="our-service">
    <div class="container">
        <div class="seo-title-one">
            <h2>Nuestros servicios</h2>
            <h6>We have all type SEO &amp; Marketing of service for our customer</h6>
            <a href="service-v1.html" class="tran3s button-four se-s-bg-color">Go to Services</a>
        </div> <!-- /.seo-title-one -->

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service tran4s">
                    <img src="images/icon/5.png" alt="icon">
                    <h2>01</h2>
                    <h5><a href="service-details.html" class="tran4s">Google Analyzing</a></h5>
                    <p>We’ll generate a sitemap for your site, submit it to search engine is and track crawler access.</p>
                </div> <!-- /.single-service -->
            </div> <!-- /.col- -->
            <div class="col-md-4 col-sm-6 col-xs-12" data-wow-delay="0.1s">
                <div class="single-service tran4s">
                    <img src="images/icon/6.png" alt="icon">
                    <h2>02</h2>
                    <h5><a href="service-details.html" class="tran4s">Content Research</a></h5>
                    <p>We’ll generate a sitemap for your site, submit it to search engine is and track crawler access.</p>
                </div> <!-- /.single-service -->
            </div> <!-- /.col- -->
            <div class="col-md-4 col-sm-6 col-xs-12" data-wow-delay="0.2s">
                <div class="single-service tran4s">
                    <img src="images/icon/7.png" alt="icon">
                    <h2>03</h2>
                    <h5><a href="service-details.html" class="tran4s">Keyword Suggestion</a></h5>
                    <p>We’ll generate a sitemap for your site, submit it to search engine is and track crawler access.</p>
                </div> <!-- /.single-service -->
            </div> <!-- /.col- -->
            <div class="col-md-4 col-sm-6 col-xs-12" data-wow-delay="0.1s">
                <div class="single-service tran4s">
                    <img src="images/icon/8.png" alt="icon">
                    <h2>04</h2>
                    <h5><a href="service-details.html" class="tran4s">link Optimization</a></h5>
                    <p>We’ll generate a sitemap for your site, submit it to search engine is and track crawler access.</p>
                </div> <!-- /.single-service -->
            </div> <!-- /.col- -->
            <div class="col-md-4 col-sm-6 col-xs-12" data-wow-delay="0.2s">
                <div class="single-service tran4s">
                    <img src="images/icon/9.png" alt="icon">
                    <h2>05</h2>
                    <h5><a href="service-details.html" class="tran4s">SEO Optimization</a></h5>
                    <p>We’ll generate a sitemap for your site, submit it to search engine is and track crawler access.</p>
                </div> <!-- /.single-service -->
            </div> <!-- /.col- -->
            <div class="col-md-4 col-sm-6 col-xs-12" data-wow-delay="0.3s">
                <div class="single-service tran4s">
                    <img src="images/icon/10.png" alt="icon">
                    <h2>06</h2>
                    <h5><a href="service-details.html" class="tran4s">Social Media Marketing</a></h5>
                    <p>We’ll generate a sitemap for your site, submit it to search engine is and track crawler access.</p>
                </div> <!-- /.single-service -->
            </div> <!-- /.col- -->
        </div>
    </div> <!-- /.container -->
</div> <!-- /.our-service -->


<!-- 
=============================================
        MonkeySoft Counter
============================================== 
-->
<div class="monkey-counter">
    <div class="main-content">
        <img src="images/home/object3.png" alt="Image">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="single-box">
                        <h2 class="number"><span class="timer" data-from="0" data-to="25" data-speed="1000" data-refresh-interval="5">0</span></h2>
                        <p>Clientes satisfechos</p>
                    </div> <!-- /.single-box -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="single-box">
                        <h2 class="number"><span class="timer" data-from="0" data-to="57" data-speed="1000" data-refresh-interval="5">0</span></h2>
                        <p>Proyectos completados</p>
                    </div> <!-- /.single-box -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="single-box">
                        <h2 class="number"><span class="timer" data-from="0" data-to="25562527" data-speed="2000" data-refresh-interval="5">0</span></h2>
                        <p>Lineas de código</p>
                    </div> <!-- /.single-box -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="single-box border-fix">
                        <h2 class="number"><span class="timer" data-from="0" data-to="7" data-speed="1000" data-refresh-interval="5">0</span>+</h2>
                        <p>Años de experiencia</p>
                    </div> <!-- /.single-box -->
                </div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.main-content -->
</div> <!-- /.monkey-counter -->



<!-- 
=============================================
        pricing Plan
============================================== 
-->
<div class="pricing-plan">
    <div class="container">
        <div class="seo-title-one text-center">
            <h2>Cotiza con nosotros tu necesidad tecnológica</h2>
            <h6>Puedes cotizar con nosotros el valor de la solución a tus necesidades. Si tienes una cotización de otra empresa, tráela y nosotros te bajamos el precio (Aplica términos y condiciones, pregúntanos)</h6>
            <h6>Convertimos objetivos de negocio en soluciones de software que resuelven problemas, reducen “time to market” y entregan valor de negocio.</h6>
            <h6>Usamos la tecnología apropiada para resolver tu problema de negocio.</h6>
            <!--<img src="images/home/ahorro.png" alt="img" class="tran4s"> Mejores precios-->
        </div> <!-- /.business-title-one -->

        <!--<div class="clearfix">
                <div class="single-price-table tran4s">
                        <img src="images/home/object4.png" alt="img" class="tran4s">
                        <span class="tran4s">Básico</span>
        <!--<h2 class="tran4s"><sub>$</sub>19 <span>99<strong>/mo.</strong></span></h2>
        
        <ul class="tran4s">
                <li>Página web informativa</li>
                <li>5 correos corporativos</li>
                <li>1 Dominio</li>
                <li>2 Meses gratis de soporte</li>
        </ul>
        <a href="#" class="button-one tran4s">Buy now</a>
</div>
<div class="single-price-table tran4s">
        <img src="images/home/object4.png" alt="img" class="tran4s">
        <span class="tran4s">Growth</span>
        <h2 class="tran4s"><sub>$</sub>29 <span>99<strong>/mo.</strong></span></h2>
        <ul class="tran4s">
                <li>Computer</li>
                <li>manufacturer Lenovo is</li>
                <li>in hot water this week</li>
                <li>after installing.</li>
        </ul>
        <a href="#" class="button-one tran4s">Buy now</a>
</div> 
<div class="single-price-table tran4s active">
        <img src="images/home/object4.png" alt="img" class="tran4s">
        <span class="tran4s">Premium</span>
        <h2 class="tran4s"><sub>$</sub>99 <span>99<strong>/mo.</strong></span></h2>
        <ul class="tran4s">
                <li>Computer</li>
                <li>manufacturer Lenovo is</li>
                <li>in hot water this week</li>
                <li>after installing.</li>
        </ul>
        <a href="#" class="button-one tran4s">Buy now</a>
</div> 
<div class="single-price-table tran4s">
        <img src="images/home/object4.png" alt="img" class="tran4s">
        <span class="tran4s">Enterprise</span>
        <h2 class="tran4s"><sub>$</sub>369 <span>99<strong>/mo.</strong></span></h2>
        <ul class="tran4s">
                <li>Computer</li>
                <li>manufacturer Lenovo is</li>
                <li>in hot water this week</li>
                <li>after installing.</li>
        </ul>
        <a href="#" class="button-one tran4s">Buy now</a>
</div>
</div> <!-- /.clearfix -->
    </div> <!-- /.container -->
</div> <!-- /.pricing-plan -->



<!-- 
=============================================
        Our Project
============================================== 
-->
<div class="our-project">
    <div class="container">
        <div class="seo-title-one text-center">
            <h2>Proyectos</h2>
            <h6>Proyectos que se han realizado y compledos exitosamente</h6>
        </div> <!-- /.business-title-one -->

        <ul class="mixitUp-menu text-center">
            <li class="filter active tran3s" data-filter="all">SEO Optimization</li>
            <li class="filter tran3s" data-filter=".buil">link building</li>
            <li class="filter tran3s" data-filter=".keyword">Keywrod research</li>
            <li class="filter tran3s" data-filter=".makre">Marketing</li>
            <li class="filter tran3s" data-filter=".google">Google Analyize</li>
        </ul>
    </div> <!-- /.container -->


    <div class="row" id="mixitUp-item">
        <div class="mix keyword google">
            <div class="single-project color1">
                <img src="images/project/33.jpg" alt="Image" class="tran4s">
                <div class="hover tran4s">
                    <div class="div">
                        <p>SEO Optimization</p>
                        <h5>Business &amp; Finance</h5>
                        <!--<a href="project-details.html" class="tran3s round-border">+</a>-->
                    </div>
                </div> <!-- /.hover -->
            </div> <!-- /.single-project -->
        </div> <!-- /.mix -->
        <div class="mix buil makre">
            <div class="single-project color2">
                <img src="images/project/34.jpg" alt="Image" class="tran4s">
                <div class="hover tran4s">
                    <div class="div">
                        <p>SEO Optimization</p>
                        <h5>Business &amp; Finance</h5>
                        <!--<a href="project-details.html" class="tran3s round-border">+</a>-->
                    </div>
                </div> <!-- /.hover -->
            </div> <!-- /.single-project -->
        </div> <!-- /.mix -->
        <div class="mix keyword makre google">
            <div class="single-project color3">
                <img src="images/project/35.jpg" alt="Image" class="tran4s">
                <div class="hover tran4s">
                    <div class="div">
                        <p>SEO Optimization</p>
                        <h5>Business &amp; Finance</h5>
                        <!--<a href="project-details.html" class="tran3s round-border">+</a>-->
                    </div>
                </div> <!-- /.hover -->
            </div> <!-- /.single-project -->
        </div> <!-- /.mix -->
        <div class="mix buil keyword google">
            <div class="single-project color4">
                <img src="images/project/36.jpg" alt="Image" class="tran4s">
                <div class="hover tran4s">
                    <div class="div">
                        <p>SEO Optimization</p>
                        <h5>Business &amp; Finance</h5>
                        <!--<a href="project-details.html" class="tran3s round-border">+</a>-->
                    </div>
                </div> <!-- /.hover -->
            </div> <!-- /.single-project -->
        </div> <!-- /.mix -->
        <div class="mix buil makre">
            <div class="single-project color5">
                <img src="images/project/37.jpg" alt="Image" class="tran4s">
                <div class="hover tran4s">
                    <div class="div">
                        <p>SEO Optimization</p>
                        <h5>Business &amp; Finance</h5>
                        <!--<a href="project-details.html" class="tran3s round-border">+</a>-->
                    </div>
                </div> <!-- /.hover -->
            </div> <!-- /.single-project -->
        </div> <!-- /.mix -->
    </div> <!-- /.row -->
</div> <!-- /.our-project -->


<!-- 
=============================================
        Short Banner
============================================== 
-->
<div class="short-banner se-p-bg-color m-bottom0">
    <div class="container">
        <h4 class="float-left">Hemos completado más de 50 proyectos exitosamente</h4>
        <!--<a href="project-v2.html" class="button-four float-right">Go to Galllery</a>-->
    </div> <!-- /.container -->
</div> <!-- /.short-banner -->


<!-- 
=============================================
        Client slider
============================================== 
-->
<div class="client-slider">
    <div class="container">
        <h2 class="text-center">Lo que nuestros clientes estan diciendo</h2>

        <div class="sldier-wrapper">
            <div class="seo-client-slider">
                <div class="item">
                    <div class="clearfix">
                        <img src="images/home/9.jpg" alt="Image" class="float-left round-border">
                        <div class="text float-left">
                            <h5>James Dula</h5>
                            <span>Founder of  CharityPro</span>
                            <p>Looking cautiously round, ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.</p>
                        </div>
                    </div> <!-- /.clearfix -->
                </div> <!-- /.item -->
                <div class="item">
                    <div class="clearfix">
                        <img src="images/home/9.jpg" alt="Image" class="float-left round-border">
                        <div class="text float-left">
                            <h5>Rashed ka.</h5>
                            <span>Founder of  CharityPro</span>
                            <p>Looking cautiously round, ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.</p>
                        </div>
                    </div> <!-- /.clearfix -->
                </div> <!-- /.item -->
                <div class="item">
                    <div class="clearfix">
                        <img src="images/home/9.jpg" alt="Image" class="float-left round-border">
                        <div class="text float-left">
                            <h5>James Dula</h5>
                            <span>Founder of  CharityPro</span>
                            <p>Looking cautiously round, ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.</p>
                        </div>
                    </div> <!-- /.clearfix -->
                </div> <!-- /.item -->
                <div class="item">
                    <div class="clearfix">
                        <img src="images/home/9.jpg" alt="Image" class="float-left round-border">
                        <div class="text float-left">
                            <h5>James Dula</h5>
                            <span>Founder of  CharityPro</span>
                            <p>Looking cautiously round, ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.</p>
                        </div>
                    </div> <!-- /.clearfix -->
                </div> <!-- /.item -->
                <div class="item">
                    <div class="clearfix">
                        <img src="images/home/9.jpg" alt="Image" class="float-left round-border">
                        <div class="text float-left">
                            <h5>Rashed ka.</h5>
                            <span>Founder of  CharityPro</span>
                            <p>Looking cautiously round, ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.</p>
                        </div>
                    </div> <!-- /.clearfix -->
                </div> <!-- /.item -->
            </div> <!-- /.seo-client-slider -->
        </div> <!-- /.sldier-wrapper -->
    </div> <!-- /.container -->
</div> <!-- /client-slider -->



<!-- 
=============================================
        latest Blog
============================================== 
-->
<div class="latest-blog">
    <div class="container">
        <div class="seo-title-one">
            <h2>Latest News</h2>
            <a href="blog-grid.html" class="tran3s button-four se-s-bg-color">Go to Blog</a>
        </div> <!-- /.seo-title-one -->

        <div class="grid-blog-wrapper clearfix">
            <div class="single-blog">
                <div class="img-holder">
                    <img src="images/blog/43.jpg" alt="Image">
                    <span class="tag color1">NATURE</span>
                </div> <!-- /.image-holder -->
                <div class="post">
                    <h5><a href="blog-details.html" class="tran3s">Robot’s Penguin Disguise Keeps Birds </a></h5>
                    <p>Looking cautiously rountain that they overheard, hag cowered ie nearer to the fire...</p>
                    <div class="post-tag">
                        <ul>
                            <li><a href="#" class="tran3s"><i class="tran3s fa fa-comment" aria-hidden="true"></i> 12</a></li>
                            <li><a href="#" class="tran3s"><i class="tran3s fa fa-heart" aria-hidden="true"></i> 54</a></li>
                        </ul>
                    </div>
                </div> <!-- /.post -->
            </div> <!-- /.single-blog -->
            <div class="single-blog">
                <div class="img-holder">
                    <img src="images/blog/44.jpg" alt="Image">
                    <span class="tag color2">NATURE</span>
                </div> <!-- /.image-holder -->
                <div class="post">
                    <h5><a href="blog-details.html" class="tran3s">Robot’s Penguin Disguise Keeps Birds </a></h5>
                    <p>Looking cautiously rountain that they overheard, hag cowered ie nearer to the fire...</p>
                    <div class="post-tag">
                        <ul>
                            <li><a href="#" class="tran3s"><i class="tran3s fa fa-comment" aria-hidden="true"></i> 12</a></li>
                            <li><a href="#" class="tran3s"><i class="tran3s fa fa-heart" aria-hidden="true"></i> 54</a></li>
                        </ul>
                    </div>
                </div> <!-- /.post -->
            </div> <!-- /.single-blog -->
            <div class="single-blog hidden-sm">
                <div class="img-holder">
                    <img src="images/blog/45.jpg" alt="Image">
                    <span class="tag color3">NATURE</span>
                </div> <!-- /.image-holder -->
                <div class="post">
                    <h5><a href="blog-details.html" class="tran3s">Robot’s Penguin Disguise Keeps Birds </a></h5>
                    <p>Looking cautiously rountain that they overheard, hag cowered ie nearer to the fire...</p>
                    <div class="post-tag">
                        <ul>
                            <li><a href="#" class="tran3s"><i class="tran3s fa fa-comment" aria-hidden="true"></i> 12</a></li>
                            <li><a href="#" class="tran3s"><i class="tran3s fa fa-heart" aria-hidden="true"></i> 54</a></li>
                        </ul>
                    </div>
                </div> <!-- /.post -->
            </div> <!-- /.single-blog -->
        </div> <!-- /.grid-blog-wrapper -->
    </div> <!-- /.container -->
</div> <!-- /.latest-blog -->


<!-- 
=============================================
        Partner Logo
============================================== 
-->
<div class="partners-section">
    <div class="container">
        <div class="row">
            <div id="partner-logo">
                <div class="item"><img src="images/logo/p9.png" alt="logo"></div>
                <div class="item"><img src="images/logo/p10.png" alt="logo"></div>
                <div class="item"><img src="images/logo/p11.png" alt="logo"></div>
                <div class="item"><img src="images/logo/p12.png" alt="logo"></div>
                <div class="item"><img src="images/logo/p10.png" alt="logo"></div>
            </div> <!-- End .partner_logo -->
        </div>
    </div>
</div>


<!-- 
=============================================
        Bottom Footer Banner
============================================== 
-->
<div class="bottom-footer-banner se-s-bg-color">
    <div class="container">
        <h3 class="float-left">Hablemos de tu próximo proyecto.</h3>
        <a href="contact-us.html" class="float-right button-five">Contáctenos!!</a>
    </div>
</div>